*{margin: 0; padding: 0;}

body{
    background-color: #f5683d;
}

.button{

    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .btn {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  border: 0;
  color: #fff;
  background: #f5683d;
  padding: 7px 15px;
  box-shadow: 0pz 2px 4px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-top: 15px;
}

